<div itemprop="articleBody" class="aricleBodyMain clearfix cha" id="ram">
    <div  style="text-align: center;" class="header">
        <strong>गणेश चालीसा </strong>
     </div>
 
    <div  class="text-center im" style="text-align: center;">
        <img class="card-img-top rounded " src="./assets/photo4.jpg" alt="Card image cap">
      </div>
 
      <div>
        &nbsp;</div>
 
    <div>
<div style="float: left;width:100%;text-align:center;">


</div>
</div>


<!-- /1031084/WD_HI_ROS_Left_336x280 -->


<div style="text-align: center;">
    <strong>।।दोहा।।</strong></div>
    <div style="text-align: center;">
    <br></div>
<div>जय गणपति सद्गुण सदन कविवर बदन कृपाल।</div>

  <div> विघ्न हरण मंगल करण जय जय गिरिजालाल॥ </div>
<div><br></div>

<div>
जय जय जय गणपति राजू। मंगल भरण करण शुभ काजू॥
</div>
<div>

जय गजबदन सदन सुखदाता। विश्व विनायक बुद्धि विधाता॥
</div>
<div><br></div>

<div>

वक्र तुण्ड शुचि शुण्ड सुहावन। तिलक त्रिपुण्ड भाल मन भावन॥
</div>
<div>

राजित मणि मुक्तन उर माला। स्वर्ण मुकुट शिर नयन विशाला॥
</div>

<div><br></div>

<div>

पुस्तक पाणि कुठार त्रिशूलं। मोदक भोग सुगन्धित फूलं॥
</div>
<div>

सुन्दर पीताम्बर तन साजित। चरण पादुका मुनि मन राजित॥
</div>

<div><br></div>
<div>

धनि शिवसुवन षडानन भ्राता। गौरी ललन विश्व-विधाता॥
</div>
<div>

ऋद्धि सिद्धि तव चँवर डुलावे। मूषक वाहन सोहत द्वारे॥
</div>
<div><br></div>
<div>

कहौ जन्म शुभ कथा तुम्हारी। अति शुचि पावन मंगल कारी॥
</div>
<div>

एक समय गिरिराज कुमारी। पुत्र हेतु तप कीन्हा भारी॥
</div>

<div><br></div>
<div>

भयो यज्ञ जब पूर्ण अनूपा। तब पहुंच्यो तुम धरि द्विज रूपा।
</div>
<div>

अतिथि जानि कै गौरी सुखारी। बहु विधि सेवा करी तुम्हारी॥
</div>
<div><br></div>

<div>

अति प्रसन्न ह्वै तुम वर दीन्हा। मातु पुत्र हित जो तप कीन्हा॥
</div>
<div>

मिलहि पुत्र तुहि बुद्धि विशाला। बिना गर्भ धारण यहि काला॥

</div>
<div><br></div>
<div>
गणनायक गुण ज्ञान निधाना। पूजित प्रथम रूप भगवाना॥
</div>
<div>


अस कहि अन्तर्धान रूप ह्वै। पलना पर बालक स्वरूप ह्वै॥
</div>
<div><br></div>
<div>

बनि शिशु रुदन जबहि तुम ठाना। लखि मुख सुख नहिं गौरि समाना॥
</div>
<div>

सकल मगन सुख मंगल गावहिं। नभ ते सुरन सुमन वर्षावहिं॥
</div>
<div><br></div>
<div>
शम्भु उमा बहुदान लुटावहिं। सुर मुनि जन सुत देखन आवहिं॥
</div>
<div>

लखि अति आनन्द मंगल साजा। देखन भी आए शनि राजा॥
</div>
<div><br></div>
<div>

निज अवगुण गुनि शनि मन माहीं। बालक देखन चाहत नाहीं॥
</div>
<div>

गिरजा कछु मन भेद बढ़ायो। उत्सव मोर न शनि तुहि भायो॥
</div>
<div><br></div>
<div>

कहन लगे शनि मन सकुचाई। का करिहौ शिशु मोहि दिखाई॥
</div>
<div>

नहिं विश्वास उमा कर भयऊ। शनि सों बालक देखन कह्यऊ॥
</div>
<div><br></div>
<div>

पड़तहिं शनि दृग कोण प्रकाशा। बालक शिर उड़ि गयो आकाशा॥
</div>
<div>

गिरजा गिरीं विकल ह्वै धरणी। सो दुख दशा गयो नहिं वरणी॥
</div>

<div><br></div>
<div>
हाहाकार मच्यो कैलाशा। शनि कीन्ह्यों लखि सुत को नाशा॥
</div>
<div>

तुरत गरुड़ चढ़ि विष्णु सिधाए। काटि चक्र सो गज शिर लाए॥
</div>
<div><br></div>
<div>
बालक के धड़ ऊपर धारयो। प्राण मन्त्र पढ़ शंकर डारयो॥
</div>
<div>

नाम गणेश शम्भु तब कीन्हे। प्रथम पूज्य बुद्धि निधि वर दीन्हे॥
</div>
<div><br></div>

<div>

बुद्धि परीक्षा जब शिव कीन्हा। पृथ्वी की प्रदक्षिणा लीन्हा॥
</div>
<div>

चले षडानन भरमि भुलाई। रची बैठ तुम बुद्धि उपाई॥
</div>
<div><br></div>
<div>

चरण मातु-पितु के धर लीन्हें। तिनके सात प्रदक्षिण कीन्हें॥
</div>
<div>

धनि गणेश कहि शिव हिय हरषे। नभ ते सुरन सुमन बहु बरसे॥
</div>
<div><br></div>
<div>

तुम्हरी महिमा बुद्धि बड़ाई। शेष सहस मुख सकै न गाई॥
</div>
<div>

मैं मति हीन मलीन दुखारी। करहुँ कौन बिधि विनय तुम्हारी॥
</div>
<div><br></div>
<div>

भजत रामसुन्दर प्रभुदासा। लख प्रयाग ककरा दुर्वासा॥
</div>
<div>

अब प्रभु दया दीन पर कीजै। अपनी शक्ति भक्ति कुछ दीजै॥
</div>
<div><br></div>





<div style="text-align: center;">
<strong>॥दोहा॥</strong></div>
<div style="text-align: center;">
श्री गणेश यह चालीसा पाठ करें धर ध्यान।</div>
<div style="text-align: center;">
नित नव मंगल गृह बसै लहे जगत सन्मान॥</div>
<div style="text-align: center;">
सम्वत् अपन सहस्र दश ऋषि पंचमी दिनेश।</div>
<div style="text-align: center;">
पूरण चालीसा भयो मंगल मूर्ति गणेश॥<br></div>

</div>