<div class="jumbotron abtus">
    <h1 class="display-4">About us</h1>
    <p class="lead">We are passionate developers who has started this website to provide the Chalisa and Aarti content  which may help those who want to read Chalisa and Aaarti online. Mainly, we are Sofware developers .</p>
    <hr class="my-4">
    <p class="lead">We are planning to increase the categories  at all level of experience, and we will notify you when we provide these updates.</p>
    
    <hr class="my-4">
    <p class="lead">
        We always do research before writing an article to ensure that the article does not contain any wrong information.
    </p>
    <hr class="my-4">
    <p class="lead">
        Support us by visiting and referring/sharing our Website with your friends and colleagues.
    </p>
    <hr class="my-4">

    <p class="lead">
        Who we are –
    </p>
   
   
  <div class="container my-4">

    <!--Grid row-->
    <div class="row text-center">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <h2 class="my-5 h2">Ankit Anand</h2>

        <img height="200" width="180" class="rounded-circle" alt="100x100" src="/assets/a3.jpg"
          >
          <p></p>
          <p>Frontend Developer</p>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <h2 class="my-5 h2">Manish Kumar</h2>

        <img  height="200" width="180" class="rounded-circle z-depth-2" alt="100x100" src="/assets/m1.jpg"
         >
         <p></p>
         <p>Frontend Developer</p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>

</div>