<div id = "page" class="site">
<nav class="navbar navbar-expand-md bg-light navbar-light">
  <!-- Brand -->
  
  <a routerLink="/home" class="navbar-brand" ><img width="220" height="70" src="./assets/Sc.png" data-sizes="(min-width: 960px) 75vw, 100vw" sizes="(min-width: 960px) 75vw, 100vw"></a>

  <!-- Toggler/collapsibe Button -->
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
    <!--  <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-link" >Home</a>
      </li>-->
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-link" href="#">Chalisa</a>
      </li>
      <li class="nav-item">
        <a routerLink="/comingsoon" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show"  class="nav-link" >Aarti</a>
      </li>
      <li class="nav-item">
        <a routerLink="/aboutus" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-link" >About us</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contactus" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
  
</nav>


<a id="top"></a>

<div class="content">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#top"> Chalisa Book</a>
  </div>
  <!-- Copyright -->

</footer>

</div>

<!-- Footer -->



