<div itemprop="articleBody" class="aricleBodyMain clearfix cha" id="ram">
   
    <div  style="text-align: center;" class="header">
        <strong>दुर्गा चालीसा</strong>
     </div>
 
    <div  class="text-center im" style="text-align: center;">
        <img class="card-img-top rounded " src="/assets/photo2.jpg" alt="Card image cap">
      </div>
 
      <div>
        &nbsp;</div>


<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
<strong>दुर्गा चालीसा</strong></div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
नमो नमो दुर्गे सुख करनी।</div>
<div style="text-align: center;">
नमो नमो दुर्गे दुःख हरनी॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
निरंकार है ज्योति तुम्हारी।</div>
<div style="text-align: center;">
तिहूं लोक फैली उजियारी॥</div>
<div style="text-align: center;">
</div>
<div style="text-align: center;">
शशि ललाट मुख महाविशाला।</div>
<div style="text-align: center;">
नेत्र लाल भृकुटि विकराला॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
रूप मातु को अधिक सुहावे।</div>
<div style="text-align: center;">
दरश करत जन अति सुख पावे॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
तुम संसार शक्ति लै कीना।</div>
<div style="text-align: center;">
पालन हेतु अन्न धन दीना॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
अन्नपूर्णा हुई जग पाला।</div>
<div style="text-align: center;">
तुम ही आदि सुन्दरी बाला॥</div>
<div style="text-align: center;">
</div>
<div style="text-align: center;">
प्रलयकाल सब नाशन हारी।</div>
<div style="text-align: center;">
तुम गौरी शिवशंकर प्यारी॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
शिव योगी तुम्हरे गुण गावें।</div>
<div style="text-align: center;">
ब्रह्मा विष्णु तुम्हें नित ध्यावें॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
रूप सरस्वती को तुम धारा।</div>
<div style="text-align: center;">
दे सुबुद्धि ऋषि मुनिन उबारा॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
धरयो रूप नरसिंह को अम्बा।</div>
<div style="text-align: center;">
परगट भई फाड़कर खम्बा॥</div>
<div style="text-align: center;">
</div>
<div style="text-align: center;">
रक्षा करि प्रह्लाद बचायो।</div>
<div style="text-align: center;">
हिरण्याक्ष को स्वर्ग पठायो॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
लक्ष्मी रूप धरो जग माहीं।</div>
<div style="text-align: center;">
श्री नारायण अंग समाहीं॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
क्षीरसिन्धु में करत विलासा।</div>
<div style="text-align: center;">
दयासिन्धु दीजै मन आसा॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
हिंगलाज में तुम्हीं भवानी।</div>
<div style="text-align: center;">
महिमा अमित न जात बखानी॥</div>
<div style="text-align: center;">
</div>
<div style="text-align: center;">
मातंगी अरु धूमावति माता।</div>
<div style="text-align: center;">
भुवनेश्वरी बगला सुख दाता॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
श्री भैरव तारा जग तारिणी।</div>
<div style="text-align: center;">
छिन्न भाल भव दुःख निवारिणी॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
केहरि वाहन सोह भवानी।</div>
<div style="text-align: center;">
लांगुर वीर चलत अगवानी॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
कर में खप्पर खड्ग विराजै।</div>
<div style="text-align: center;">
जाको देख काल डर भाजै॥</div>
<div style="text-align: center;">
</div>
<div style="text-align: center;">
सोहै अस्त्र और त्रिशूला।</div>
<div style="text-align: center;">
जाते उठत शत्रु हिय शूला॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
नगरकोट में तुम्हीं विराजत।</div>
<div style="text-align: center;">
तिहुंलोक में डंका बाजत॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
शुंभ निशुंभ दानव तुम मारे।</div>
<div style="text-align: center;">
रक्तबीज शंखन संहारे॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
महिषासुर नृप अति अभिमानी।</div>
<div style="text-align: center;">
जेहि अघ भार मही अकुलानी॥</div>
<div style="text-align: center;">
</div>
<div style="text-align: center;">
रूप कराल कालिका धारा।</div>
<div style="text-align: center;">
सेन सहित तुम तिहि संहारा॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
परी गाढ़ संतन पर जब जब।</div>
<div style="text-align: center;">
भई सहाय मातु तुम तब तब॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
अमरपुरी अरु बासव लोका।</div>
<div style="text-align: center;">
तब महिमा सब रहें अशोका॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
ज्वाला में है ज्योति तुम्हारी।</div>
<div style="text-align: center;">
तुम्हें सदा पूजें नर-नारी॥</div>
<div style="text-align: center;">
</div>
<div style="text-align: center;">
प्रेम भक्ति से जो यश गावें।</div>
<div style="text-align: center;">
दुःख दारिद्र निकट नहिं आवें॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
ध्यावे तुम्हें जो नर मन लाई।</div>
<div style="text-align: center;">
जन्म-मरण ताकौ छुटि जाई॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
जोगी सुर मुनि कहत पुकारी।</div>
<div style="text-align: center;">
योग न हो बिन शक्ति तुम्हारी॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
शंकर आचारज तप कीनो।</div>
<div style="text-align: center;">
काम अरु क्रोध जीति सब लीनो॥</div>
<div style="text-align: center;">
</div>
<div style="text-align: center;">
निशिदिन ध्यान धरो शंकर को।</div>
<div style="text-align: center;">
काहु काल नहिं सुमिरो तुमको॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
शक्ति रूप का मरम न पायो।</div>
<div style="text-align: center;">
शक्ति गई तब मन पछितायो॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
शरणागत हुई कीर्ति बखानी।</div>
<div style="text-align: center;">
जय जय जय जगदम्ब भवानी॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
भई प्रसन्न आदि जगदम्बा।</div>
<div style="text-align: center;">
दई शक्ति नहिं कीन विलम्बा॥</div>
<div style="text-align: center;">
</div>
<div style="text-align: center;">
मोको मातु कष्ट अति घेरो।</div>
<div style="text-align: center;">
तुम बिन कौन हरै दुःख मेरो॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
आशा तृष्णा निपट सतावें।</div>
<div style="text-align: center;">
रिपू मुरख मौही डरपावे॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
शत्रु नाश कीजै महारानी।</div>
<div style="text-align: center;">
सुमिरौं इकचित तुम्हें भवानी॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
करो कृपा हे मातु दयाला।</div>
<div style="text-align: center;">
ऋद्धि-सिद्धि दै करहु निहाला।</div>
<div style="text-align: center;">
</div>
<div style="text-align: center;">
जब लगि जिऊं दया फल पाऊं ।</div>
<div style="text-align: center;">
तुम्हरो यश मैं सदा सुनाऊं ॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
दुर्गा चालीसा जो कोई गावै।</div>
<div style="text-align: center;">
सब सुख भोग परमपद पावै॥</div>
<div style="text-align: center;">
<br></div>
<div style="text-align: center;">
देवीदास शरण निज जानी।</div>
<div style="text-align: center;">
करहु कृपा जगदम्ब भवानी॥</div>
<div style="text-align: center;">
<br></div>

<div style="text-align: center;">
<strong>॥ इति श्री दुर्गा चालीसा सम्पूर्ण ॥</strong><br>
<br>
</div>

</div>